* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.right {
    height: 100%;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 30px;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.mode {
    font-size: 10px;
}

.input-box {
    height: 25vh;
    width: 95%;
}

.options {
    margin: 10px;
}

.input-main {
    display: flex;
    justify-content: center;
}


button {
    height: 5vh;
    margin: 10px;
    width: 95%;
    border-radius: 5px;
}






/* rounding button-toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2b2e30;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (min-width: 1024px) {
    .navbar-main {
        height: 100px;
    }

    .input-main {
        justify-content: start;
    }

    .input-box {
        width: 1000px;
        height: 500px;
    }

    .head {
        font-size: 70px;
    }

    .right {
        height: 100%;
        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .options{
        display: flex;
        margin: 0;
        padding: 0;
    }
    button{
        width: 200px;
        margin: 0;
        padding: 0;
    }
}